@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';





.connect {
  position: fixed;
  right: 29px;
  bottom: 59px;
  z-index: 5;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #e5e5e5;
  background-color: #b0c2c5;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: .3s all;

  &:hover .connect__img {
    transition: .5s ease-in-out;
    transform: scale(0);
    opacity: 0;
  }

  &:hover .connect__text {
    transform: scaleX(1);
    transition: .5s ease-in-out;
    opacity: 1;

  }



  &:hover::before,
  &:hover::after {
    content: '';
    position: absolute;
    border: 1px solid $green-color;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
    opacity: 0;
  }

  &:hover::after {
    animation-delay: .5s;
  }

  &__phone {
    position: absolute;

  }

  &__img {
    width: 100%;
    height: 100%;
    animation: phone .9s ease-in-out infinite;
  }

  &__text {
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    @extend %roboto-700;
    font-size: 15px;
    transform: scaleX(-1);
    transition: .5s ease-in-out;

  }

  &__hidden {
    opacity: 1;
  }

}



@keyframes phone {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(21deg);
  }
}



@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 9;
  }
}


.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white-color;
  z-index: 90;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__phone {
    color: $brown-color;
    font-size: 19px;
    position: relative;
    padding-left: 10px;
    margin-left: 10px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/phone.png');
      width: 20px;
      height: 20px;
      top: 3px;
      left: -10px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

}



.menu {
  &__list {
    display: flex;
    gap: 30px;

  }

  &__btn {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    display: none;
    color: $text-color;
  }

  &__list-link {
    text-transform: uppercase;
    color: $brown-color;
    @extend %roboto-700;
    transition: .2s all;

    &:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid $hover-color;
    }
  }


}

.user-nav {
  display: flex;
  gap: 40px;

  &__link {
    position: relative;
  }


  &__num,
  &__num-cart {
    position: absolute;
    top: -5px;
    right: -6px;
    font-size: 10px;
    color: $white-color;
    background-color: #8b877f;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    padding-left: 1px;
  }

  &__button {
    cursor: pointer;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);


  &__content {
    background-color: $white-color;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    max-width: 500px;
    text-align: center;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 30px;
  }

  &__btn-controls {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;

  }

  &__btn-content__box {
    display: none;

    &.modal__btn-content--active {
      display: block;
    }
  }

  &__btn {
    background-color: $green-color;
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    color: $white-color;
    cursor: pointer;
    margin-top: 40px;
    width: 150px;
  }

  &__input {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 15px auto;
    padding: 10px 15px;
    outline: none;
    border: 1px solid $brown-color;

    &::placeholder {
      font-size: 15px;
    }
  }

  &__link {
    display: block;
    margin-top: 40px;
    font-size: 15px;
    color: $text-color;

  }

  &__close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

}




.slider {
  padding-top: 163px;

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
  }

  &__content {
    margin-top: 150px;
    max-width: 600px;
    border: 3px solid $white-color;
    padding: 70px 40px;
    box-shadow: #ffffff 1px 0 10px;

  }



  &__title {
    font-size: 55px;
    line-height: 70px;
    color: $white-color;
    @extend %opensans-700;
    margin-bottom: 20px;


  }

  &__text {
    font-size: 25px;
    line-height: 40px;
    color: $white-color;
    font-style: italic;
    max-width: 600px;
    margin-bottom: 20px;
  }

  &__btn {
    @extend %btn;
    animation: glowing 1300ms infinite;

    &:hover {
      background-color: $white-color;
      color: $text-color;
    }

    &:last-child {
      margin-left: 90px;
    }
  }

  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px $white-color;
    }

    50% {
      box-shadow: 0 0 20px $white-color;
    }

    100% {
      box-shadow: 0 0 5px $white-color;
    }
  }

}


.slick-dots {
  display: flex;
  justify-content: center;

}

.slider .slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $white-color;
  border: none;
  padding: 0;
  font-size: 0;
}


.slider .slick-dots .slick-active button {
  background-color: #ec8ed9;
}

.slider .slick-dots li {
  display: inline-block;
  margin: 0 5px;

}

.slider .slick-dots {
  margin-top: -45px;
  position: relative;
  z-index: 6;
  text-align: center;
}



.info {
  padding: 90px 0;

  &__title {
    margin-bottom: 90px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__img {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 14px;

  }
}


.about {
  background-image: url('../images/bg-about.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 750px;

  &__inner {
    display: flex;
    justify-content: end;
  }

  &__box {
    color: $white-color;
    background-color: $green-color;
    padding: 120px 70px;
    margin-top: 160px;

  }



  &__title {
    font-size: 40px;
    line-height: 35px;
    @extend %roboto-700;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 500px;
  }

  &__btn {
    @extend %btn;

    &:hover {
      background-color: $white-color;
      color: $text-color;
    }
  }
}

.catalog {
  padding: 100px 0 70px;
  background-color: $accent-bg;
  text-align: center;

  &__title {
    margin-bottom: 40px;

  }

  &__text {
    font-size: 15px;
    line-height: 25px;
    max-width: 750px;
    margin: 0 auto 95px auto;
    text-align: center;


  }


  &-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 120px 30px;
    padding-bottom: 90px;

  }

  &-box__info {
    background-color: $white-color;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s all;


    &:hover {
      transform: scale(1.1);

      .catalog-box__wishlist {
        transform: scale(100%);

      }


    }
  }

  &-box__link {
    display: block;
    font-size: 15px;


  }

  &-box__img {
    margin: 0 auto 25px;
    width: 350px;

  }

  &-box__wishlist {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    cursor: pointer;

    &:hover {
      background-color: #e79494;
    }
  }

  &-box__image {
    margin: 6px auto;

  }

  &-box__text {
    text-align: center;
    padding-bottom: 20px;

  }

  &-box__title {
    font-size: 20px;
    margin-bottom: 20px;
    @extend %roboto-400;
  }

  &-box__price {
    display: block;
    margin-bottom: 30px;
  }

  &-box__btn {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding: 10px 30px;
    font-size: 15px;
    border: 2px solid #e5e5e5;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    @extend %roboto-700;
    border-radius: 20px;
    transition: .3s all;
    color: $text-color;

    &:hover {
      background-color: #e5e5e5;
    }

  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    @extend %roboto-700;
    padding-right: 10px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background-image: url('../images/catalog/arrows.svg');
      width: 15px;
      height: 15px;
      top: 3px;
      right: -10px;
    }
  }


}


.team {
  padding: 90px 0 120px;
  background-color: $accent-bg;

  &__title {
    margin-bottom: 90px;
  }

  &__inner {
    display: flex;
    gap: 20px;
    position: relative;

  }

  &__info {
    text-align: center;
  }

  &__img {
    width: 380px;
    height: 250px;
    object-fit: cover;
  }

  &__box {
    background-color: $white-color;
  }

  &__name {
    @extend %roboto-700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 30px;
  }

  &__text {
    padding-bottom: 30px;

  }
}

.delivery {
  padding: 100px 0 130px;

  &__title {
    margin-bottom: 100px;
  }

  &__inner {
    display: flex;
    gap: 90px;
    justify-content: space-between;
  }

  &__text {
    margin-top: 40px;
    flex-basis: 550px;
  }

  &__item {
    font-size: 19px;
    @extend %roboto-700;
    position: relative;
    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/check-icon.svg');
      width: 35px;
      height: 35px;
      top: 0;
      left: -4px;
    }


  }



  &__item {
    padding-bottom: 35px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__image {
    position: relative;


    &::after {
      content: '';
      position: absolute;
      width: 450px;
      height: 550px;
      background-color: $accent-bg;
      top: -50px;
      right: -60px;
      z-index: -1;
    }
  }

  &__img {
    object-fit: cover;
    flex-basis: 450px;
    margin-right: 80px;
  }
}


.bestsellers {
  padding: 60px 0 90px;
  background-color: $accent-bg;

  &__title {
    margin-bottom: 90px;
  }

  &__info-box {
    width: 290px;
    display: block;
  }

  &__box-info {
    box-shadow: none;
    margin: 0 20px;
  }



}



.slick-arrow {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 40%;
  z-index: 5;
  cursor: pointer;
}

.slick-next {
  right: -30px;
}

.slick-prev {
  left: -30px;
}




.reviews {
  padding: 90px 0 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 40px;
    text-align: center;

  }

  &__info {
    text-align: center;
    background-color: $accent-bg;
    box-shadow: $accent-bg 1px 10px 10px;
    position: relative;


    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/reviews/bg.png');
      background-repeat: no-repeat;
      width: 352px;
      height: 401px;
      top: 40px;
      left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/reviews/bg-2.png');
      background-repeat: no-repeat;
      width: 170px;
      height: 371px;
      top: 80px;
      right: 0;
    }
  }

  &__box {
    padding: 30px 0 85px;
    margin-bottom: 30px;

  }

  &__img {
    margin: 0 auto 20px;
  }

  &__desc {
    max-width: 650px;
    margin: 0 auto 20px;
  }

  &__name {
    @extend %roboto-700;
    font-size: 15px;
  }


}


.reviews__slider.slick-slide {
  margin: 0 60px;
}

.reviews .slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4d656685;
  border: none;
  padding: 0;
  font-size: 0;
}

.reviews .slick-dots .slick-active button {
  background-color: $white-color;
}

.reviews .slick-dots li {
  display: inline-block;
  margin: 0 5px;

}

.reviews .slick-dots {
  margin-top: -45px;
  position: relative;
  z-index: 6;
  text-align: center;
}




.blog {
  padding: 80px 0 60px;


  &__title {
    margin-bottom: 60px;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 25px 40px;
    margin-bottom: 80px;

  }

  &__info-img {
    height: 180px;
    width: 250px;
    object-fit: cover;

  }

  &__info-text {
    flex-basis: 650px;
    padding-top: 10px;

  }

  &__info-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %roboto-700;
    font-size: 19px;
  }

  &__info-desc {
    margin-bottom: 70px;


  }

  &__info-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9a9a9a;
  }

  &__info-link {
    color: #48494a;
    transition: .3s all;

    &:hover {
      color: $text-color;
    }
  }

  &__info-date {
    font-size: 14px;
    padding-left: 10px;
    position: relative;
    color: #48494a;

    &::after {
      content: '';
      position: absolute;
      width: 13px;
      height: 15px;
      background-image: url('../images/icons/calendar-days.svg');
      top: 0;
      left: -12px;
    }
  }
}


.contacts {
  padding: 90px 0 100px;
  background-color: $accent-bg;

  &__inner {
    text-align: center;
  }

  &__img {
    position: relative;
    left: 110px;
  }

  &__box {
    position: relative;
    z-index: 1;

  }

  &__form {
    background-color: $white-color;
    display: inline-block;
    padding: 50px 30px;
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin-top: -220px;
    box-shadow: #faf7f7 1px 0 10px;
  }

  &__title {
    font-size: 35px;
    margin-bottom: 60px;
  }

  &__input {
    max-width: 400px;
    width: 100%;
    display: block;
    outline: none;
    padding: 5px 15px;
    margin: 0 auto 25px;
    border: none;
    border-bottom: 1px solid $text-color;

    &::placeholder {
      font-size: 13px;
      color: #9a9a9a;

    }
  }

  &__textarea {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto 25px;
    height: 100px;
    resize: none;
    font-size: 13px;
    color: #9a9a9a;
    border: none;
    border-bottom: 1px solid $text-color;
    padding: 5px 15px;
    outline: none;
  }

  &__btn {
    background-color: #9a9a9a;
    cursor: pointer;
    @extend %btn;
  }
}

.footer {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__info {
    max-width: 270px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 19px;
  }

  &__text {
    margin-top: 35px;
  }

  &__desc {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__box {
    padding-top: 30px;
  }

  &__menu-item {
    padding-bottom: 15px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__menu-link {
    color: $text-color;
    transition: .3s all;

    &:hover {
      border-bottom: 1px solid $text-color;
    }
  }

  &__info-text {
    margin-bottom: 20px;
  }

  &__newsletter-text {
    margin-bottom: 10px;
  }

  &__newsletter-input {
    border: none;
    border-bottom: 1px solid #9a9a9a;
    padding: 9px;
    width: 250px;
    outline: none;
    margin-right: -7px;

    &::placeholder {
      font-size: 15px;
      color: #9a9a9a;

    }
  }

  &__newsletter-btn {
    background-color: #9a9a9a;
    color: $white-color;
    padding: 10px;
    display: inline-block;
    text-align: center;
    @extend %roboto-700;
    box-shadow: #9a9a9a 4px 0 10px;
    border: none;
  }
}


.cart {
  background-color: #f6f6f2;
  position: absolute;
  left: 80%;
  top: 50%;
  width: 260px;
  padding: 10px 25px;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 19px;
    margin-bottom: 30px;
  }


  &__alert {
    text-align: center;
    font-size: 20px;
  }

  &__close-img {
    position: relative;
    top: -15px;
    left: 100%;
    cursor: pointer;
  }

  &__wrapper {
    overflow-y: hidden;

  }

  &__summary {
    font-size: 16px;
    @extend %roboto-700;

  }


  &__none,
  &-none {
    display: none;
  }

  &__order-title {
    margin: 20px 0;
  }

  &__item {
    margin-bottom: 45px;

  }

  &-show {
    display: block;

  }

  &__item-image {
    width: 100px;
  }

  &__item-box {
    display: flex;
    justify-content: space-between;

  }

  &__delete-img {
    cursor: pointer;
    margin-right: 20px;
  }

  &__summary {
    margin-top: 20px;
    text-align: center;
  }

  &__summary-text {
    margin-bottom: 20px;
  }

  &-counter {
    display: flex;
    margin-top: 20px;
    background-color: $white-color;
    width: 90px;

  }

  &-counter__control {
    width: 30px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
    background-color: #9a9a9a;

  }

  &-counter__current {
    width: 40px;
    text-align: center;
  }

  &-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-modal__content {
    margin: 25% auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
  }

  &-modal.show {
    display: block;
  }



}

.form__order {
  &-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid $accent-bg;

    &::placeholder {
      font-size: 15px;
      @extend %roboto-400;
    }
  }

  &-btn {
    background-color: $text-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 185px;
    text-transform: uppercase;
    padding: 10px;

  }
}



.cart--active {
  display: none;
}

.cart__wrapper.scrollable {
  overflow-y: auto;

}

.none {
  display: none;
}



.wishlist {
  &-modal {
    display: none;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-modal__content {
    margin: 25% auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
  }

  &-item__btn {
    background-color: $text-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px 40px 0;
    width: 120px;
    text-transform: uppercase;
    padding: 10px;

  }

  &__wrapper {
    max-height: 400px;
    overflow: auto;
  }


  &-none,
  &__none {
    display: none;
  }

  &__close {
    position: relative;
    top: -15px;
    left: 100%;
    cursor: pointer;
  }
}



.open {
  display: block;
}



@import 'media';